<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CW2.Properties.Settings.expenseConnectionString" connectionString="Data Source=WINDOWS-JFTC1SK;Initial Catalog=expense;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CW2.Properties.Settings.Cs" connectionString="Data Source=WINDOWS-JFTC1SK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CW2.Properties.Settings.IncomeConnectionString" connectionString="Data Source=WINDOWS-JFTC1SK;Initial Catalog=Income;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CW2.Properties.Settings.ContactConnectionString" connectionString="Data Source=WINDOWS-JFTC1SK;Initial Catalog=Contact;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CW2.Properties.Settings.EventConnectionString" connectionString="Data Source=WINDOWS-JFTC1SK;Initial Catalog=Event;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>